h1 {
	text-align: center;
}

.r{
  background-color: RGBA(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 10px 10px 10px 10px;
  margin: 5px;
}

body, a {
background-image: url('br.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-color: #1d1f2a;
  background-attachment: fixed;
  background-position: center;
  
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;
}

.fifty {
	margin: 50px;
}

.plashka {
	margin-bottom: 20px;
}

#oyuncular {
	height: 700px;
    overflow: scroll;
}

#salam {
  margin: 20px;
}

/*.table {
	color: #000;
}*/